/* Bag Container */


.tilt-container {
    min-height: 70vh;
    background: linear-gradient(30deg, rgba(213, 42, 65, 1) 34%, rgba(228, 87, 48, 1) 66%, rgba(235, 107, 40, 1) 75%);
    /* position: relative;
    z-index: -1; */
    margin: 3%;
    transform: skewY(4deg);
  
  }
  
  .first-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transform: skewY(-4deg);
  
  }
  
  #first-circle {
    left: 15%;
    top: 10%;
    background-color: #EF9500;
  
  }
  
  #second-circle {
    left: 40%;
    top: 17%;
    background-color: #2383B0;
  }
  
  #third-circle {
    left: 65%;
    top: 25%;
    background-color: #D1D3D4;
  }
  
  #carry-bag {
    transition: all 0.5s ease-in-out;
    width: 80%;
  
  }
  
  #carry-bag:hover {
    transform: scale(1.1)
  }
  
  #luggage-btn {
    color: #fff;
    font-size: 17px;
    width: 45%;
  
  
  }