@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

@media (max-width :768px) {
  .ATlogo {
    width: 80%;
  }

  .icons {
    width: 42%;
    float: end;
  }

  #icon-one {
    font-size: 25px;
  }

  #shopByLogo {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .navbar-toggler {
    border: none;
  }

  #navbarNav {
    display: none;
  }

  .support-list {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background-color: #fff;
    color: rgba(43, 42, 42, 0.616);
    padding: 3%;
  }

  .list-one li {
    display: none;

  }

  .list-one {
    border-bottom: 1px solid gray;
    margin-right: 0px;

  }

  .list-one h6 {
    font-size: 16px;
  }

  .icon-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .terms-and-condition {
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #fff;
  }

  hr {
    display: none;
  }

  #copyright {
    background-color: #fff;
  }

  .t_and_c {
    width: 100%;
  }

  #footerLogo {
    width: 7%;
  }

  #american-logo {
    display: none;
  }

  .footer-icons {
    width: 30%;
    background-color: #fff;
  }

  #shop-product {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .button-holder {
    margin-top: 60px;
  }

  .btn-txt {
    font-size: 13px;
  }

  .main-girls {
    display: flex;
    flex-direction: column;
  }

  .image-one-girls {
    width: 100%;
  }

  .image-one-girls img {
    width: 100%;
  }

  .text-one-girls {
    width: 100%;
  }

  /* bag container */
  .tilt-container {
    min-height: 60vh;
    background: linear-gradient(30deg, rgba(213, 42, 65, 1) 34%, rgba(228, 87, 48, 1) 66%, rgba(235, 107, 40, 1) 75%);
    transform: skewY(4deg);
    display: flex;
    justify-content: space-between;

  }

  .first-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;

    margin: 2%;
  }

  #first-circle {
    left: 5%;
    top: 7%;
    margin: 2%;
    background-color: #EF9500;

  }

  #second-circle {
    left: 35%;
    top: 12%;
    background-color: #2383B0;
  }

  #third-circle {
    left: 64%;
    top: 17%;
  }

  /* InterNation */
  .globe img {
    width: 30%;
  }

  .globe {
    width: 45%;
    height: 280px;

  }

  #tilt-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 70vh;
  }

  #interOne {
    margin-top: 20px;

  }

  #interTwo {
    margin-top: 0px;

  }

  #interThree {
    margin-top: 0px;

  }

  #interFour {
    margin-top: 0px;

  }

  /* Email Page */
  .form-change input {
    width: 420px;
  }

  #h-four {
    font-size: 23px;
    font-weight: 400
  }

  #email-id {
    height: 90%;
    width: 80%;
    margin-top: 60px;
  }



}